/node_modules
/public/build
/public/hot
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/public
/storage/app/temp
/storage/app/uploads
/storage/debugbar
/third_party
/third_party/pharmacy-store-app-codecanyon-main/android/.gradle
.blackbox
bootstrap/cache/*.php
bootstrap/cache/*.json
/Mobile App/