APP_NAME=welcome-pospro
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost/pos-pro-addon/public
SITE_KEY=
AUTHORIZED_KEY=

CONTENT_EDITOR=
ANALYTICS_VIEW_ID=
GA_MEASUREMENT_ID=
FORCE_USER_TO_PURCHASE_PLAN=
UNSUBSCRIBE_AFTER_DAYS=

QUEUE_MAIL=false
MAIL_DRIVER=smtp
MAIL_DRIVER_TYPE=MAIL_DRIVER
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

MAILCHIMP_DRIVER=
MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=200

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=
PUSHER_SCHEME=https
MIX_PUSHER_APP_KEY=${PUSHER_APP_KEY}
MIX_PUSHER_APP_CLUSTER=${PUSHER_APP_CLUSTER}

REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=

MEMCACHED_HOST=
MEMCACHED_PORT=
MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

WAS_ACCESS_KEY_ID=
WAS_SECRET_ACCESS_KEY=
WAS_DEFAULT_REGION=
WAS_BUCKET=
WAS_ENDPOINT=


DISCUSS_COMMENT_KEY=

LOG_CHANNEL=stack
LOG_LEVEL=debug
CACHE_LIFETIME=
TIMEZONE=Africa/Abidjan

DEFAULT_LANG=
DISCUSS_COMMENT_KEY=

FILESYSTEM_DISK=public

VITE_PUSHER_APP_KEY=${PUSHER_APP_KEY}
VITE_PUSHER_HOST=${PUSHER_HOST}
VITE_PUSHER_PORT=${PUSHER_PORT}
VITE_PUSHER_SCHEME=${PUSHER_SCHEME}
VITE_PUSHER_APP_CLUSTER=${PUSHER_APP_CLUSTER}

APILAYER_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=